$main-color: #666;
$help-color: #999;
$borderColor: #e1e1e1;

$activeColor: #148de9;
@mixin flex($direction: row, $wrap: nowrap,
  $just: center, $align: center) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $just;
  align-items: $align;
}
%setting_area{
  height: 30px;
  line-height: 30px;
  border: 1px solid $borderColor;
  border-top: none;
  background-color: #f5f5f5;
  text-align: center;
}
.setting-wrap{
  .ivu-modal-header-inner{
    text-align: center;
  }
  .ivu-modal-content{
    height: 400px;
  }
  .ivu-modal-footer{
    display: none;
  }
}
