$main-color: #17162e;
$help-color: #999;
$borderColor: #e6e6e6;
$bg-color: #fafafa;

$activeColor: #148de9;
$content-width: 1400px;
$nav-color: #17162E;
$link-color: #007AFF;

@mixin flex($direction: row, $wrap: nowrap,
  $just: center, $align: center) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $just;
  align-items: $align;
}
@mixin lh($height: 36px, $lineHeight: $height) {
  height: $height;
  line-height: $lineHeight;
}
%setting_area{
  height: 30px;
  line-height: 30px;
  border: 1px solid $borderColor;
  border-top: none;
  background-color: $bg-color;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: $main-color;
}
.setting_modal{
  position: relative;
  .search{
    &-result{
      position: absolute;
      width: 100%;
      background-color: #fff;
      top: 33px;
      left: 0;
      z-index:9;
    }
    .add-coin{
      display: block;
      margin: 20px auto 0;
    }
    .results{
      padding: 10px 0;
      max-height: 300px;
      overflow: auto;
    }
    .currently{
      margin-top: 20px;
      font-size: 14px;
      color: $main-color;
      h3{
        font-weight: bold;
      }
      ul{
        @include flex(row, wrap, flex-start, center);
        padding: 10px 0;
      }
      li{
        margin-right: 30px;
        font-weight: 400;
        span{
          color: $help-color;
        }
        i{
          cursor: pointer;
          color: red;
        }
      }
    }
  }
}
.setting-wrap{
  .ivu-modal-header-inner{
    text-align: center;
  }
  .ivu-modal-content{
    height: 400px;
  }
  .ivu-modal-footer{
    display: none;
  }
}

