$main-color: #17162e;
$help-color: #999;
$borderColor: #e6e6e6;
$bg-color: #fafafa;

$activeColor: #148de9;
$content-width: 1400px;
$nav-color: #17162E;
$link-color: #007AFF;

@mixin flex($direction: row, $wrap: nowrap,
  $just: center, $align: center) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $just;
  align-items: $align;
}
@mixin lh($height: 36px, $lineHeight: $height) {
  height: $height;
  line-height: $lineHeight;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

%setting_area{
  height: 30px;
  line-height: 30px;
  border: 1px solid $borderColor;
  border-top: none;
  background-color: $bg-color;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  color: $main-color;
}
.setting-wrap{
  .ivu-modal-header-inner{
    text-align: center;
  }
  .ivu-modal-content{
    min-height: 400px;
    height: auto;
  }
  .ivu-modal-footer{
    display: none;
  }
}
%modal-search{
  position: relative;
  h3{
    font-size: 16px;
    color: #000;
  }
  .search-result{
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 33px;
    left: 0;
    z-index:9;
  }
  .results{
    padding: 10px 0;
    max-height: 300px;
    overflow: auto;
  }
  .currently{
    margin-top: 20px;
    font-size: 14px;
    color: $main-color;
    h3{
      margin-top: 60px;
    }
    ul{
      @include flex(row, wrap, flex-start, center);
      padding: 10px 0 10px;
    }
    li{
      margin-right: 20px;
      font-weight: 400;
      background-color: #4a79fa;
      font-size: 12px;
      width: auto;
      @include lh(32px);
      padding: 0 10px;
      margin-bottom: 10px;
      border-radius: 3px;
      span{
        color: #fff;
        margin-right: 10px;
      }
      i{
        cursor: pointer;
      }
    }
  }
  .search-action{
    margin: 20px auto 0;
    text-align: center;
    > button {
      margin-right: 10px;
    }
  }
}

