$main-color: #666;
$help-color: #999;
$borderColor: #e1e1e1;
@mixin flex($direction: row, $wrap: nowrap,
  $just: center, $align: center) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $just;
  align-items: $align;
}