language: node_js
node_js:
- '8'
branches:
  only:
  - master
  - dev
cache:
  directories:
  - node_modules
before_install:
- openssl aes-256-cbc -K $encrypted_f51abd089731_key -iv $encrypted_f51abd089731_iv -in id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
  ### - echo -e "Host 123.206.90.112\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- eval $(ssh-agent)
- ssh-add ~/.ssh/id_rsa
- cp .travis/ssh_config ~/.ssh/config
- git config --local user.name "wxrbwran"
- git config --local user.email "wxrbw@qq.com"
before_script:
- npm i -g yarn
- yarn
script:
- npm run build
after_success:
- ssh ubuntu@123.206.90.112 'cd /home/ubuntu/sites/coin && git pull && npm run build'

