language: node_js
node_js:
  - "8"
env:
  global:
    # - "FTP_USER=wxr"
    # - "FTP_PASSWORD=wxr890929"
cache:
  directories:
  - node_modules
before_script:
  npm i -g cnpm
  cnpm i
script: npm run build

# after_success:
   # "find ./make/output -type f -exec curl --ftp-create-dirs -u $FTP_USER:$FTP_PASSWORD -T {} ftp://123.45.67.89/myproject/{} \\;"
after_success:
  - eval "$(ssh-agent -s)" # start the ssh agent
  - chmod 600 .travis/deploy_key.pem # this key should have push access
  - ssh-add .travis/deploy_key.pem
  - git remote add deploy git@github.com:wxrbwran/coinfans.git
  - git push deploy HEAD:deploy
