language: node_js
node_js:
  - '8'
branches:
  only:
    - master
    - dev
cache:
  directories:
    - node_modules
env:
  global:
    - "FTP_USER=uftp"
    - "FTP_PASSWORD=qingfei775"
before_script:
#  - npm i -g cnpm
#  - cnpm i
script:
  - npm run build
before_deploy:
  - git config --local user.name "wxrbwran"
  - git config --local user.email "wxrbw@qq.com"
after_success:
   "find ./make/output -type f -exec curl --ftp-create-dirs -u $FTP_USER:$FTP_PASSWORD -T ftp://uftp:qingfei775@60.205.185.173/public"

