language: node_js
node_js:
- '8'
env:
  global: 
cache:
  directories:
  - node_modules
before_script: npm i -g cnpm cnpm i
script: npm run build
before_deploy:
- git config --local user.name "wxrbwran"
- git config --local user.email "wxrbw@qq.com"
- git tag "$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)"
deploy:
  provider: releases
  api_key:
    secure: 19HGY5BnWy/R3Y1m5YVoJOM9Ke97sHguyJ8dZfhmx0k0gcqMWtX0nGFX3uvLPb3XCzqk7p8qwrXBhFYTtZqKlKnk9MtjTzRUPe1rMI5gl1DbGCSIiZL4mJ7ZdNCvLGh46T9rZEa+680QLO8gBspFnkWt4US4B+BvnilsxyJa1tGvDAk5+vQ60CMbwk+SfsaHxutbPYgXGlA73dUqe7rmQa5pb5ntGT4r6w6pzOtsWe8QzTb9xApLwjHFp5uUhHg9si3TihIVHI9a/+CGIZ6OGr8YxTApBx4nzNBfswYfZeHZXUyz3cRNaxqXmTIM8VxtsmtUhg8UOWn8Ia+s62gOP1VJofm2k4xzwvmsiPMJBXkzLXhZQdAgmVub6QkzkcRCfmxkwuT6NCBGEy2sqNxu/8iEtXqnryEGe6R/RnIJDtuA1W8V5Xwr91zzdClO6nRgS6fzzpFPUqkzVB/gByI9NrCiRcQK9AV+Er5BAWCdeOTUezZe6bcH+qDyM1wKE4mZSwjRhmM5x4yPNi7/0NIrg2twA6rn8IqxpyJ77+WxdUfw3FApF6RxD4gnrvdj1dOpCu2V0+h3tXuGgfshD6zFVAYJ3oBhHbtDfThyNMMtNd0K5kGzoOoAsQsrBv2QZhYmdcwpe5e+48oqzpc36T16JOGuX5+cr59G23SJLJTnEQU=
  file_glob: true
  file: ./make/output/*

